// BASE
$body-bg: #f4f4f4;
$body-color: #323232;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$font-family-base: "Poppins", var(--bs-font-sans-serif);
$border-radius: 1rem;
$border-radius-sm: $border-radius * 0.875;
$border-radius-lg: $border-radius * 1.25;
$primary: #6c5dd3;
$info: #4d69fa;

@import "~bootstrap/scss/bootstrap.scss";

@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// LAYOUT
.main-layout {
  padding-top: var(--bs-gutter-x, 0.75rem);
  padding-bottom: var(--bs-gutter-x, 0.75rem);
}

.main-layout-inner {
  height: 100%;
  margin-left: 235px;
  position: relative;
  min-height: calc(100vh - (var(--bs-gutter-x, 0.75rem) * 2) - 48px);
  margin-bottom: rem-calc(48);
}

.content {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  width: calc(100% - 259px);
  bottom: var(--bs-gutter-x, 0.75rem);
  background-color: #fff;
  opacity: 0.85;
  border-radius: $border-radius;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: rem-calc(13);
    line-height: 1;
  }
  strong {
    font-size: rem-calc(15);
  }
}

.box {
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: $border-radius;
  box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
  height: calc(100% - 1.5rem);
  &.lg-size {
    border-radius: $border-radius-lg;
  }
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(30);
  h2 {
    margin: 0;
    font-size: rem-calc(22);
    font-weight: 400;
  }
  h3 {
    font-size: rem-calc(18);
    font-weight: 600;
    margin-bottom: 0;
  }
  .title-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    .ico-wrap {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-right: rem-calc(10);
      img {
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}

.btn {
  font-weight: 600;
  &-info {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.form-control {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.form-control::placeholder {
  opacity: 0.8;
}

.icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.dropdown-toggle {
  background: #e9e9ea;
  color: #05050b;
  border: solid 1px rgba(#05050b, 0.1);
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::after {
    border: 0;
    width: 16px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-size: 16px 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.show > .dropdown-toggle {
  opacity: 0.7;
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1) !important;
}

.form-select {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.export-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $info;
  font-weight: 600;
  svg {
    margin-right: rem-calc(7);
  }
}

.avatar {
  &-wrap {
    display: flex;
    align-items: center;
    span {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem-calc(18);
      font-weight: 600;
      border-radius: $border-radius;
      margin-right: rem-calc(10);
      background: #e9e9ea;
      &.text-primary {
        background: rgba($primary, 0.3);
      }
      &.text-info {
        background: rgba($info, 0.3);
      }
      &.text-danger {
        background: rgba($danger, 0.3);
      }
      &.text-warning {
        background: rgba($warning, 0.3);
      }
      &.text-success {
        background: rgba($success, 0.3);
      }
    }
    p {
      margin: 0;
    }
  }
  &-mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem-calc(13);
  }
}

.table {
  & > thead {
    & > tr * {
      background: #f5f5f5;
    }
  }
  & > thead,
  & > tbody {
    & > tr {
      & > * {
        padding: 1rem;
        font-size: rem-calc(14);
      }
      & > :first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
      & > :last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
  td {
    vertical-align: middle;
    a {
      color: $info;
      text-decoration: none;
    }
    .dropdown-item {
      color: #05050b;
      span {
        font-size: rem-calc(14);
      }
      &:focus {
        color: #fff;
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #fff;
  color: var(--bs-table-striped-color);
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-height {
  max-height: calc(100vh - 295px);
  overflow: auto;
}

.edit-button {
  margin-left: rem-calc(10);
  background-color: #e9e9ea;
  border-color: #e9e9ea;
  transition: all 0.2s ease-out;
  &::after {
    display: none;
  }
  &:hover {
    color: #fff;
    background: #000;
  }
  span {
    display: inline-block;
    transform: translateY(-4px);
    font-size: rem-calc(18);
  }
}

.custom-save-btn {
  min-width: 100px;
  span {
    font-weight: 400;
    font-size: rem-calc(14);
  }
}

.alert {
  font-size: rem-calc(18);
  span {
    font-size: rem-calc(14);
  }
}

// LOGIN
.login {
  &-wrapper {
    background-color: #ffcf52;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-box {
    width: calc(100% - 30px);
    max-width: 500px;

    position: relative;
    margin-bottom: 2.5rem;
    z-index: 2;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: $border-radius * 2.2;
      height: 100%;
    }
    &::before {
      bottom: -18px;
      width: calc(100% - 40px);
      background: #977d3a;
      z-index: 1;
    }
    &::after {
      bottom: -32px;
      width: calc(100% - 70px);
      background: #d0aa47;
      z-index: 0;
    }
    &-inner {
      position: relative;
      z-index: 2;
      padding: 2rem;
      background-color: #fff;
      border-radius: $border-radius * 2;
      img {
        width: 100%;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem-calc(25);
      }
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-floating {
      width: 100%;
    }
  }
  &-title {
    text-align: center;
    padding-bottom: 1rem;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    p {
      font-size: 1.6rem;
      font-weight: 500;
      color: #59626b;
    }
  }
  &-forgot {
    color: $body-color;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// SIDEBAR
.aside {
  &-main {
    background: #05050b;
    width: 220px;
    height: calc(100vh - (var(--bs-gutter-x, 0.75rem) * 2));
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: var(--bs-gutter-x, 0.75rem);
    left: var(--bs-gutter-x, 0.75rem);
  }
  &-header {
    padding: 1rem;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  &-content {
    flex: 1 0 auto;
    padding: rem-calc(15) 0;
    max-height: calc(100% - 62px - 70px);
    overflow: auto;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0 rem-calc(10);
      padding: 0;
      li {
        a {
          display: flex;
          align-items: center;
          padding: rem-calc(10) rem-calc(8);
          margin: rem-calc(5) 0;
          color: #fff;
          text-decoration: none;
          line-height: 1;
          font-size: rem-calc(14);
          border-radius: $border-radius;
          transition: all 0.2s ease-out;
          .icon-fw {
            font-size: rem-calc(23);
            margin-right: rem-calc(10);
          }
          &.active {
            background: rgba($primary, 0.8);
          }
          &:hover {
            background: rgba($primary, 0.3);
          }
        }
      }
    }
  }
  &-profile {
    display: flex;
    padding: rem-calc(15);
    background: #2d2d32;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fff;
      background: rgba($primary, 0.3);
    }
    &-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: rem-calc(10);
      > img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      p {
        font-size: rem-calc(13);
        font-weight: 600;
        margin-bottom: 0;
      }
      small {
        font-size: rem-calc(10);
        opacity: 0.5;
      }
    }
  }
}

// TOPBAR
.topbar {
  display: flex;
  margin-left: rem-calc(-10);
  margin-right: rem-calc(-10);
  .topbar-item {
    padding: 0 rem-calc(10);
    position: relative;
    &:not(:last-child) {
      &::after {
        content: "";
        width: 1px;
        height: 70%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #9ea7b0;
      }
    }
  }
  .topbar-title {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
      font-size: rem-calc(22);
      font-weight: 600;
    }
    &::after {
      display: none;
    }
  }
}

.searchbar {
  flex: 1 0 auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  svg {
    color: $primary;
  }
  input {
    margin-left: rem-calc(10);
    border: 0;
    background: transparent;
    font-size: rem-calc(15);
    outline: none;
    box-shadow: none;
    flex: 1 0 auto;
    &::placeholder {
      opacity: 0.7;
      font-weight: 600;
    }
  }
}

.dropdown-wrap {
  .dropdown-toggle {
    font-size: rem-calc(14);
    font-weight: 500;
    min-width: 300px;
  }
  .dropdown-item {
    font-size: rem-calc(14);
  }
}

.add-item {
  .btn {
    font-size: rem-calc(14);
    font-weight: 400;
    min-width: 100px;
  }
}

// OFFCANVAS
.offcanvas-body {
  & > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    .offcanvas-inner {
      flex: 1 0 auto;
      overflow: auto;
      max-height: calc(100% - 55px);
    }
    .btn {
      font-weight: 500;
    }
  }
}
.offcanvas-backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.3rem);
  will-change: backdrop-filter;
  &.show {
    opacity: 1;
  }
}

// CHART
.chart {
  &-switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li a {
      color: $info;
      font-size: rem-calc(14);
      font-weight: 600;
      text-decoration: none;
      padding: rem-calc(5) rem-calc(12);
      margin: rem-calc(3) rem-calc(5);
      border-radius: $border-radius-sm;
      transition: all 0.2s ease-out;
      white-space: nowrap;
      &:hover {
        background: rgba($info, 0.1);
      }
      &.active {
        background: rgba($info, 0.2);
      }
    }
  }
}

// TOPLIST
.top-list {
  max-height: calc(100vh - 300px);
  overflow: auto;
  margin-right: rem-calc(-10);
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem-calc(20);
    margin-right: rem-calc(10);
    .info {
      margin-bottom: 0;
      margin-left: rem-calc(15);
      font-weight: 600;
    }
  }
}

// PAGINATION
.pagination {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem-calc(25);
    & > p {
      font-size: rem-calc(14);
      margin: 0;
    }
    .page-link {
      font-size: rem-calc(13);
      color: #000;
      border: #dee2e6;
      background: #dee2e6;
    }
    .disabled {
      .page-link {
        border: #dee2e6;
        background: #dee2e6;
        opacity: 0.4;
      }
    }
    .dropdown {
      margin-left: rem-calc(15);
      .dropdown-toggle {
        font-size: rem-calc(13);
        font-weight: normal;
        min-width: 80px;
        border: #dee2e6;
        background: #dee2e6;
        &:hover {
          color: #000;
          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
          }
        }
      }
    }
  }
  &-inner {
    display: flex;
  }
}

// QR
.qr {
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem-calc(15);
    padding-top: 0;
    &-inner {
      width: 300px;
      height: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 991px) {
  .main-layout-inner {
    margin-left: 0;
  }
  .footer {
    position: static;
    width: 100%;
    opacity: 1;
  }
  .dropdown-wrap .dropdown-toggle,
  .add-item .btn {
    min-width: unset;
  }
  .mobile-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      li {
        &:not(:last-child) {
          margin-right: rem-calc(15);
        }
        a {
          font-size: rem-calc(14);
          font-weight: 600;
          color: #000;
          text-decoration: none;
          &.active {
            color: $primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
  .box {
    padding: 1rem;
  }
  .searchbar input {
    margin: 0;
  }
  .topbar .topbar-item {
    padding: 0 rem-calc(8);
  }
  .searchbar svg {
    display: none;
  }
  .pagination-wrap .dropdown .dropdown-toggle {
    min-width: unset;
  }
  .pagination-wrap {
    align-items: flex-end;
    flex-direction: column;
  }
  .pagination-inner {
    margin-top: rem-calc(10);
  }
  .qr-wrap-inner {
    height: 200px;
  }
}
